<div class="container">
  <h2>Demo Reactive Form</h2>
  <form [formGroup]="reactiveFrom"
    (ngSubmit)="onSubmit(reactiveFrom.value)">
    <div>
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="reactiveFrom.controls['sku']">
    </div>
    <div class="alert alert-danger" *ngIf="!sku.valid && sku.touched">
      SKU is invalid
    </div>
    <div class="alert alert-danger" *ngIf="sku.hasError('required')">
      SKU is required
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
